
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', sans-serif;
    background-color: #ebf2ff;
}


.header {
    background-color: #f9fafc;
}

.hero-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
  }

  
.d_nav1 {
    width: 100px;
    display: inline;
}

.d_nav2 {
    display: inline;
    height: 40%;
   
}

.d_sec1 {
    width: 400px;
    height: 70%;
    display: inline-block;
}

.d_sec2 {
    display: inline;
    width: 400px;
}

h2 {
    display: inline;
}

.hero_text1 {
    font-size: 28px;
    line-height: 2.25rem;
    color: #1d3557;
    font-weight: 900;
}
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

button {
    border: none;
    cursor: pointer;
}

.b1 {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    background-size: 100% auto;
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  border-radius: 4px;

}

.b1 :hover {
    background-image: linear-gradient(
    to right,
    #dd2476 0%,
    #ff512f 51%
    #ff512f 100%,
  );
}
 
.i1{
    width:100%;
}

.i2 {
    width:100%;
}
